
h1{
    text-align: center;
}

.input{
    width: 75px;
}
   
.layout{
    display: grid;
    grid-template-columns: auto 50px auto;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
    text-align: center;
    color: aqua;
}

.button{

    margin:0 auto;
    display:block;
}
body{
    background-image: url("background2.jpg");
}